/* Text colors */
.text-primary {
  color: #28a745;
}
.text-dark {
  color: #333;
}
.text-light {
  color: #fff;
}

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.btn:hover {
  opacity: 0.9;
}
.btn-disable, .btn-disable:hover  {
    opacity: 0.5;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

/* Flex items */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

.flex-items .f-item:hover {
  background-color: #d2f2d9;
}

/* Section header */
.section-header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h2 {
  font-size: 30px;
  margin: 5px 0;
}

/* Padding */
.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

.container {
  /* margin: auto; */
  max-width: 1100px;
  overflow: auto;
  margin: 20px 20px;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }
}
